<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
                <!-- MetaFiles, Webjars and Bootstrap are from a random guy in StackOverflow -->

    <!-- Required MetaFiles -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="keywords" content="keyword1, keyword2, keyword3"/>
    <meta name="description" content="this is my page"/>
    <!-- Webjars for Bootstrap and Jquery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <title>Registration Page</title>

</head>

<body>
<center>
    <h2>Please, enter your credentials to Register</h2>
</center>

<form th:action="@{/registration}" method="post" th:object="${registration}">
    <div class="form-group container" id="positionOfLogin" style="text-align: center">

        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <p th:text="${errorMessage}"></p>
        </div>

        <div>
            <label for="username">Your username:</label><br>
            <input type="text" th:field="*{username}"
                   required="required"
                   class="form-control MyInput"
                   id="username"
                   style="display: inline; width: 300px;"
                   placeholder="Username"/>
        </div>

        <div>
            <label for="email">Your email:</label><br>
            <input type="email" th:field="*{email}"
                   required="required"
                   class="form-control MyInput"
                   id="email"
                   style="display: inline; width: 300px;"
                   placeholder="email@example.com"/>
        </div>

        <div>
            <label for="password">Your password:</label><br>
            <input type="password" th:field="*{password}"
                   required="required"
                   class="form-control MyInput"
                   id="password"
                   style="display: inline; width: 300px;"
                   placeholder="Password"/>
        </div>

        <div id="successMessage" class="alert alert-success" role="alert" style="display: none;">
            Registration successful! You can now login.
        </div>

        <form id="registrationForm" th:action="@{/registration}" method="post" th:object="${registration}">
            <button type="submit" class="btn btn-success" style="display: inline; width: 300px;">Register</button>
        </form>


        <div>
            <center>
                <a th:href="@{/login}" style="width: 300px"
                   class="form-control MyButton">Sign In</a>
            </center>
        </div>
    </div>
</form>

</body>

</html>